<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
</head>

<body>
 <!--Include _menu.html -->
 <th:block th:include="/menu"></th:block>
<h1>Cписок папок</h1>

 <table class="table">
     <thead>
     <tr>
         <th>id </th>
         <th>parent_id</th>
         <th>child_id</th>
         <th>depth</th>

     </tr>
     </thead>
     <tbody>
     <li th:each="folder : ${folderList}">
         <td th:utext="${folder.id}">..</td>
         <td th:utext="${folder.name}">..</td>
         <td th:utext="${folder.parent_id}">..</td>
         <td th:utext="${folder.child_id}">..</td>
         <td th:utext="${folder.depth}">..</td>
         <td>
             <div class="text-center">
                 <a th:href="@{person/{id}/delete(id=${person.id_person})}"> Удалить</a>
                 <a th:href="@{person/{id}/edit(id=${person.id_person})}">Переместить</a>
                 <a th:href="@{person/{id}(id=${person.id_person})}">Посмотреть вложенные</a>
             </div>
         </td>
     </li>
     </tbody>
 </table>

</body>
</html>